<template>
    <div>
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" :disabled="auth" type="text" class="validate" v-model="name">
            <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="email" :disabled="auth" type="text" class="validate" v-model="email">
            <label for="email">email</label>
        </div>
        <div class="input-field col s12">
            <div class="input-field col s6">
                <i class="material-icons prefix">insert_link</i>
                <input id="homepage" type="text" class="validate" v-model="homepage">
                <label for="homepage">Home page</label>
            </div>
            <div class="input-field col s6">
                <input type="text" placeholder="Enter your tag..." v-model="tag" @keyup.enter="addTag"
                       @keyup.space="addTag">
            </div>
        </div>
        <div class="input-field col s12">

        <span class="list-group-item tag" v-for="(tag, id) in tags" :key="id">
                    {{tag}}
                    <a @click="removeTag(id)"><i class="close material-icons">close</i></a>
        </span>
        </div>
        <div class="input-field col s12">
            <textarea v-model="comment" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Comment</label>
        </div>
        <div class="input-field col s12" v-if="errs">
            <div class="list-group-item" v-for="err in errs">{{err}}</div>
        </div>
        <div class="input-field col s12">
            <a class="waves-effect waves-light btn-small blue right" @click="send">Send</a>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete" v-model="search">
            <label for="autocomplete-input">Search</label>
        </div>
        <div class="col s12">
            <label>
                <input name="search-to" type="radio" v-model="searchTo" value="username" checked />
                <span>Name</span>
            </label>
            <label>
                <input name="search-to" type="radio" v-model="searchTo" value="email" />
                <span>Email</span>
            </label>
            <label>
                <input name="search-to" type="radio" v-model="searchTo" value="data" />
                <span>Data time</span>
            </label>
            <label>
                <input name="search-to" type="radio" v-model="searchTo" value="tag" disabled />
                <span>Tags</span>
            </label>
        </div>
    </div>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';

    export default {
        props: {
            auth: {
                type: Boolean,
                required: true
            },
            user: {
                type: Object,
                required: false,
            }
        },
        data() {
            return {
                comment: '',
                name: '',
                email: '',
                homepage: '',
                tag: '',
                tags: [],
                search: '',
                searchTo: 'username',
                errs: [],
            }
        },
        mounted() {
            if (this.user) {
                this.name = this.user.name;
                this.email = this.user.email
            }
        },
        methods: {
            send() {
                this.errs = [];
                let err = false;
                this.name = this.name.trim();
                this.email = this.email.trim();
                this.homepage = this.homepage.trim();
                if (this.name.length < 3) {
                    err = true;
                    this.errs.push('Name must be more than 3 characters')
                }
                if (this.email.length < 3) {
                    err = true;
                    this.errs.push('Email must be more than 3 characters')
                } else if (!this.validEmail(this.email)) {
                    err = true;
                    this.errs.push('Email not correct');
                }

                if (this.comment.length < 10) {
                    err = true;
                    this.errs.push('Comment not correct')
                }


                if (!err) {
                    axios({
                        url: '/api/guest-book',
                        method: 'post',
                        data: {
                            name: this.name,
                            email: this.email,
                            homepage: this.homepage,
                            tags: this.tags,
                            comment: this.comment
                        },
                    }).then((response) => {
                        if (response.data == 200) {
                            this.$emit('send');
                        }
                    }).catch((err) => {

                    });

                    if (!this.auth)
                        this.name = '';
                    if (!this.auth)
                        this.email = '';
                    this.homepage = '';
                    this.tags = '';
                    this.comment = '';
                }


            },
            addTag() {
                this.tag = this.tag.trim();

                if (this.tag.length > 2 && this.tags.length < 20) {
                    this.tags.push(this.tag);
                    this.tag = ''
                }
            },
            removeTag(id) {
                this.tags.splice(id, 1);
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
        },
        watch: {
            search: {
                handler: function (val) {
                    if (val.length > 1) {
                        this.$emit('search', {
                            filter: this.searchTo,
                            data: val
                        });
                    }
                    if (val.length == 0)
                        this.$emit('reset');
                }
            }
        },
        components: {VueRecaptcha}
    }
</script>

<style scoped>
    a {
        cursor: pointer;
    }

    .tag {
        position: relative;
        float: left;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

</style>
