<template>
    <div ref="commentList" v-on:scroll="onScroll">
        <ul class="collection">
            <li class="collection-item" v-for="comment in comments">
                <div class="comment-healer">{{comment.author_name}}</div>
                <div class="input-field col s12">
                    <span class="list-group-item tag" v-for="(tag, id) in comment.tag" :key="id">
                        {{tag.title}}
                    </span>
                </div>

                <div class="comment-item">{{comment.comment}}</div>
                <div class="comment-footer">{{comment.created_at | formatDate}}</div>
            </li>
        </ul>
        <div class="preloaderCenter" v-if="preloader">
            <div class="preloader-wrapper big active ">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        props: {
            comments: Array,
            preloader: false
        },
        mounted() {

        },
        methods: {
            onScroll(event) {
                if (window.pageYOffset + window.innerHeight == document.body.clientHeight)
                    this.$emit('pageDown');


            }
        },

        created() {
            window.addEventListener('scroll', this.onScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.onScroll);
        },


    }
</script>

<style scoped>
    .preloaderCenter {
        position: relative;
        width: 70px;
        left: 50%;
        margin-left: -35px;
    }

    .comment-healer {
        text-align: right;
        color: #696969;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 22px;
        letter-spacing: 1.4px;
    }

    .comment-item {
        margin-top: 1rem;
        font-size: 18px;
        font-style: italic;
        color: #999;
        font-family: 'PT Serif', serif;
    }

    .comment-footer {
        margin-top: 1rem;
        text-align: right;
        color: #999;
        font-family: 'PT Serif', serif;
        font-size: 18px;
        font-style: italic;
    }
    .tag {
        position: relative;
        float: left;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
</style>
