<template>
    <div>
        <CommentCompose
            :auth="auth"
            :user="user"
            @send="send"
            @search="search"
            @reset="reset"/>
        <CommentList @pageDown="getPages" :comments="comments" :preloader="preloader"/>
    </div>
</template>

<script>
    // import axiosQuery from '../axios-modify';
    import CommentCompose from './CommentCompose';
    import CommentList from './CommentList';

    export default {
        props: {
            user: {
                type: Object,
                required: false,
            }
        },
        data() {
            return {
                comments: [],
                receivedPages: 0,
                preloader: false,
                join: false,
                auth: false,
                urlGettingPage: 'api/guest-book?',
                stop: false,
            }
        },
        mounted() {
            if (this.user)
                this.auth = true;

            this.getPages();
        },
        methods: {
            search(option) {
                this.preloader = true;
                this.stop = false;
                this.comments = [];

                this.urlGettingPage = 'api/guest-book?filter=' + option.filter +
                    '&data=' + option.data + '&';

                axios.get(
                    this.urlGettingPage +
                    '$skip=' + this.receivedPages
                )
                    .then((response) => {
                        if (response.data == 404)
                            this.preloader = false;
                        else {
                            this.comments = response.data;
                            this.preloader = false;
                        }
                    })
                    .catch((err) => {
                        console.err('error: ' + err);
                    });

            },
            send() {
                this.stop = false;
                this.receivedPages = 0;
                this.comments = [];
                this.getPages();
            },
            getPages() {
                if (!this.join && !this.stop) {
                    this.preloader = true;
                    this.join = true;
                    axios.get(this.urlGettingPage +
                        'skip=' + this.receivedPages
                    )
                        .then((response) => {
                            console.log(response.data);
                            if (response.data == 404) {
                                this.preloader = false;
                                this.join = false;
                                this.stop = true;
                            } else {
                                this.receivedPages += 20;
                                this.comments = this.comments.concat(response.data);
                                this.preloader = false;
                                this.join = false;
                            }
                        })
                        .catch((err) => {
                            console.err('error: ' + err);
                            this.join = false;
                        })
                }
            },
            reset() {
                this.urlGettingPage = 'api/guest-book?';
                this.stop = false;
                this.receivedPages = 0;
                this.comments = [];
                this.getPages();
            }
        },
        components: {CommentCompose, CommentList}
    }
</script>

<style scoped>

</style>
